extends ../layouts/default

block var
	//- Meta tags property
	- var title = "About | Hegar Sumber Kreasi"
	- var description = "We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia with a wide customer base. Our staff have experience to provide steel services to the Construction Industry"
	- var author = 'Ray Rinaldy'
	- var keywords = 'indonesia, company, indonesia, company'

block content
	.header.not-home
		.info.not-home
				
			h1 ABOUT US
	section.content
		.about-wrapper
			h2.about-us.text-center.not-home About Us
			p.pd.not-home
				| We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia with a wide customer base. 
				<br>
				<br>
				| Our staff have experience to  provide steel services to the Construction Industry

		.facilities-section.text-center
			h2.about-us.text-center.not-home.facilities-section-title Facilities
			.row
				.col-xsm-6.col-sm-3
					.facilities-icon.workshop
					.facilities-name Workshop

				.col-xsm-6.col-sm-3
					.facilities-icon.crane
					.facilities-name Crane

				.col-xsm-6.col-sm-3
					.facilities-icon.machine
					.facilities-name High technology Machine

				.col-xsm-6.col-sm-3
					.facilities-icon.worker
					.facilities-name Skilled and experienced workforce

	section.scope-of-works.text-center
		.container-fluid
			.row
				.col-md-10.col-md-offset-1
					.scope-title Scope Of Works

	section.scope-slider
		.scope
			.bg-color
			.title Stainless Steel
			img.img-responsive(src="./images/stainless.jpg", alt="")
		.scope
			.bg-color
			.title Staircases
			img.img-responsive(src="./images/staircase.jpg", alt="")
		.scope
			.bg-color
			.title Structural Steel Frames
			img.img-responsive(src="./images/steel-frames.jpg", alt="")
		.scope
			.bg-color
			.title Architectural Steelwork
			img.img-responsive(src="./images/steelwork.jpg", alt="")
		.scope
			.bg-color
			.title Canopies
			img.img-responsive(src="./images/canopies.jpg", alt="")
		.scope
			.bg-color
			.title Cladding and Metal Deck
			img.img-responsive(src="./images/cladding.jpg", alt="")
		.scope
			.bg-color
			.title Fencing and Railings
			img.img-responsive(src="./images/fencing.jpg", alt="")
		.scope
			.bg-color
			.title Feature Frames
			img.img-responsive(src="./images/feature-frames.jpg", alt="")




		