extends ../layouts/default

block var
	//- Meta tags property
	- var title = "Careers | Hegar Sumber Kreasi"
	- var description = "We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia with a wide customer base. Our staff have experience to provide steel services to the Construction Industry"
	- var author = 'Ray Rinaldy'
	- var keywords = 'indonesia, company, indonesia, company'

block content
	.header.not-home
		.info.not-home
				
			h1 CAREERS
	section.content
		.about-wrapper
			h2.about-us.text-center.not-home Careers at HSK
			
			each post in data.posts.results
				h2!=post.name
				h3!=post.author.name.first
				h3 #{post._.publishedDate.format('MMMM Do, YYYY')}
				p!=post.content.extended
			//- p.pd.not-home
				| We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia with a wide customer base. 
				<br>
				<br>
				| Our staff have experience to  provide steel services to the Construction Industry

		