#header {
    margin-top: 30px;
}

#footer {
    margin-top: 30px;
    padding-top: 30px;

    color: #777;
    border-top: 1px solid #eee;
}

.gallery-image img {
    display: block;

    max-width: 100%;
    height: auto;
}

// ••••••••••••••••••••••••••••••••//
// 
//            NAVBAR
// 
// ••••••••••••••••••••••••••••••••//

nav {
    -webkit-transition: all 1s;
       -moz-transition: all 1s;
            transition: all 1s;
    &.animate {
        transform: translateY(-100%);
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #1f2224;
}

.navbar-default {
    width: 100%;
    // max-width: 1400px;
    margin: 0 auto;
    // border-bottom: 4px solid #db0011;

    border-bottom: 0;
    background-color: #1f2224;
    .navbar-brand {
        .brand-title {
            margin-left: 80px;

            text-transform: uppercase;

            color: #fff;

            @include createSecondaryFont;
            @include bp(max-xsm) {
                font-size: 15px;

                margin-left: 55px;
            }
        }
        img {
            position: absolute;
            top: 8px;

            width: 40px;
        }
    }
    .navbar-nav {
        li {
            &:nth-child(1) {
                a {
                    border-top: 0;
                }
            }
        }
        li > a {
            font-size: .9em;

            text-transform: uppercase;

            color: #bbb;

            @include bp(min-sm) {
                border-top: 0;
            }
            &:hover {
                color: #fff;
            }
            // border: 2px solid transparent;
        }
        > .active > a {
            color: #fff;
            background-color: transparent;
            &:hover {
                background-color: transparent;
            }
        }
    }
}

@include bp(min-sm) {
    .navbar-default {
        // max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        padding: 15px 0;

        -webkit-transition: all .35s;
           -moz-transition: all .35s;
                transition: all .35s;
        .navbar-brand {
            img {
                top: 15%;

                width: 60px;

                -webkit-transition: all .35s;
                   -moz-transition: all .35s;
                        transition: all .35s;
            }
        }
        /* Add additional styles here for the UNCOLLAPSED state */
        &.affix {
            padding: 0;
            .navbar-brand {
                img {
                    top: 15%;

                    width: 40px;
                }
            }
            /* Add additional styles here for the COLLAPSED state */
        }
    }
}

@media all and (max-width: 600px) {
    .navbar-nav {
        margin: 7.5px 0;
    }
    .navbar .nav > li {
        display: block;
    }
    .navbar .nav > li  img {
        margin: auto;
    }
}

#partnership {
    padding: 80px 0;

    background: #ecf0f1;

    @include bp(max-sm) {
        padding: 40px 0;
    }
    .partnership-title {
        font-size: 1.2em;

        padding-bottom: 20px;

        @include createSecondaryFont;
    }
    .slick-slide {
        outline: none;
        img {
            display: inline-block;

            margin: 0 auto;
        }
    }
    .slick-dots {
        bottom: -35px;
        li button:before {
            font-size: 15px;
        }
    }
}

#postfooter {
    padding: 50px 0;

    transition: all 1s ease-in-out;

    color: #ecf0f1;
    background: #1b1b1b;
    h5 {
        color: #bdc3c7;

        @include createSecondaryFont;
    }
    li {
        list-style-type: none;
    }
    a {
        color: #ecf0f1;
        &:hover {
            text-decoration: none;

            color: #bdc3c7;
        }
    }
}

#footer {
    margin-top: 0;
    padding: 20px 0;

    color: #e9e7da;
    border-top: 0;
    background-color: #0a1612;
}

// ••••••••••••••••••••••••••••••••//
// 
//           Main Content
// 
// ••••••••••••••••••••••••••••••••//

.header {
    position: relative;

    display: flex;
    overflow: hidden;

    min-width: 300px;
    height: 50vw;
    min-height: 400px;
    max-height: 750px;
    padding-right: 15px;
    padding-left: 15px;

    color: #eee;

    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    h1,
    h3 {
        @include createSecondaryFont;
    }
    &.not-home {
        height: auto;
        min-height: 200px;
        max-height: auto;
        &:before {
            background: #1b2030 url('../images/about.jpg') bottom center no-repeat;
        }
    }
    &.post{
      max-height: 550px;
    }
    &:after {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;

        width: 100%;
        height: 40%;

        content: '';

        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(27, 32, 48, 1) 100%);
    }
    .bg-image {
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        content: '';
        transition: all .2s ease-in-out;
        -webkit-transform: translateZ(0) scale(1, 1);
                transform: translateZ(0);
        animation: grow 60s  linear 10ms infinite;

        background: #1b2030 url('../images/banner.jpg') top center no-repeat;
        background-attachment: fixed;
        background-size: cover;

        @include bp(max-sm){
          background-size: auto 100%;
        }

        -webkit-backface-visibility: hidden;
        &.other-bg {
            background: #1b2030 url('../images/about.jpg') bottom center no-repeat;
        }
    }
    .post-project-detail {
        position: absolute;
        bottom: 40px;

        width: 50%;

        flex: 0 0 auto;
        @include bp(max-sm) {
            width: 100%;
        }
        .icons {
            img {
                padding-bottom: 8px;
            }
            .detail-text {
                font-size: 18px;

                text-transform: capitalize;
            }
        }
    }
    // &:before {
    //   content: "";
    //   width: 100%;
    //   height: 100%;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   -webkit-backface-visibility: hidden;
    //   -webkit-transform: translateZ(0) scale(1, 1);
    //   transform: translateZ(0);
    //   background: #1B2030 url('../images/banner.jpg') top center no-repeat;
    //   background-size: cover;
    //   background-attachment: fixed;
    //   animation: grow 60s  linear 10ms infinite;
    //   transition: all 0.2s ease-in-out;
    //   z-index: -2;
    // }
    a {
        color: #eee;
    }
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;

    display: block;

    width: 30px;
    height: 30px;

    text-decoration: none;

    border: 2px solid #fff;
    border-radius: 3px;
    &:after {
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;

        display: block;

        width: 20px;
        height: 3px;
        margin: 0 auto;

        content: '';

        background: #fff;
        box-shadow: 0 8px, 0 16px;
    }
}

.logo {
    font-size: 1.2em;
    font-weight: 600;

    display: inline-block;

    box-sizing: border-box;
    margin: 20px;
    padding: 5px 10px;

    text-decoration: none;

    border: 2px solid #fff;
    border-radius: 3px;
}

.info {
    width: 50%;
    width: 100%;
    padding: 15% 10% 0 10%;
    padding-top: 70px;

    text-align: center;

    text-shadow: 0 2px 3px rgba(0, 0, 0, .2);

    flex: 0 0 auto;
    @include bp(min-xsm) {
        padding-top: 140px;
    }
    @include bp(min-sm) {
        padding-top: 170px;
    }
    @include bp(min-md) {
        &.banner-header {
            position: absolute;
            top: 50%;
            right: 5%;

            width: auto;
            padding: 0;

            transform: translateY(-50%);
            text-align: left;

            flex: 0;
            h1 {
                font-size: 3.2em;

                @include bp(max-sm) {
                    font-size: 2.2em;
                }
            }
        }
    }
    h1 {
      margin: 0;
      padding-bottom: 5px;
        @include bp(max-sm) {
            font-size: 2.2em;
        }
    }
    h3 {
        font-weight: 300;
        margin:  0;

        @include bp(max-sm) {
            font-size: 1.5em;
        }
    }
    h4 {
      padding-top: 10px;
        font-size: 1.2em;
    }
    .span-wrap {
        width: 80%;
        margin: 0 auto;
        padding: 30px 0;

        background: rgba(0, 0, 0, .4);
    }
    .btn-navigate {
      padding-top: 40px;
      @include bp(max-xsm){
        padding-top: 20px;
      }
      transition: all 1s ease;
      .btn{
        font-size: 18px;
        outline: none;
        border: 1px solid #ededed;
        background: transparent;
        &:hover{
          background: #ecf0f1;
          color: #34495e;
          text-shadow: none;
        }
        &.margin{
          margin-right: 10px;
          @include bp(max-xsm){
            margin-bottom: 10px;
          }
        }
      }
    }
    &.not-home {
        padding-top: 120px;
    }
    &.info-article {
        position: absolute;
        top: 50%;

        padding-top: 0;

        transform: translateY(-50%);
        h1 {
            font-size: 3.5em;

            @include bp(max-sm) {
                font-size: 2.2em;
            }
        }
    }
}

.author {
    display: inline-block;

    width: 500px;
    max-width: 50%;
    height: 100%;
    // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;

    background: url('../images/logo-big.png') center no-repeat;
    background-size: cover;
}

.meta {
    font-size: .7em;
    font-style: italic;
    img {
        width: 30%;
        margin: 0 auto;

        @include bp(min-sm) {
            width: 25%;
        }
    }
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

.content {
    padding: 40px 10%;

    text-align: justify;

    background: #f5f5f5;

    @include bp(max-md) {
        padding: 5% 5%;
    }
    .about-btn {
        font-weight: bold;

        position: relative;

        display: inline-block;

        box-sizing: border-box;
        width: 135px;
        padding: 10px 15px;

        -webkit-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
           -moz-transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
                transition: color .15s ease-out,background-color .15s ease-out,border-color .15s ease-out;
        text-align: center;
        letter-spacing: 2px;

        color: #000 !important;
        border-radius: 55px;
        &:hover {
            text-decoration: none;

            border: 0;
            background-color: #ededed;
        }
        .outline-placeholder {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            border: 1px solid #c2c4c8;
            border-radius: inherit;
            background-color: transparent;
        }
    }
    h2 {
        font-weight: 300;

        @include createSecondaryFont;
        // border-bottom: 1px solid #db0011;
        &:after {
            display: block;

            width: 50px;
            // margin: 0 auto;
            margin-top: 15px;

            content: '';

            border-bottom: 2px solid #db0011;
        }
        &.not-home {
            &:after {
                margin: 0 auto;
                margin-top: 10px;
            }
        }
    }
    h3 {
        @include createSecondaryFont;
    }
    p {
        font-size: 1.1em;
        &.pd {
            padding-bottom: 30px;
        }
        &.not-home {
            padding-top: 20px;
        }
    }
}

// ••••••••••••••••••••••••••••••••//
// 
//           Project Row
// 
// ••••••••••••••••••••••••••••••••//

.project-wrapper {
    .project-title {
        font-size: 1.3em;
        font-weight: bold;

        padding-top: 10px;

        text-align: left;
        text-transform: uppercase;
        a {
            color: #800303;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .project-date {
        padding-bottom: 10px;
        a {
            color: #800303;
        }
    }
    .project-detail {
        padding-bottom: 10px;
    }
    .project-button {
        @include bp(max-sm) {
            padding-bottom: 20px;
        }
        a {
            color: #555;
        }
    }
}

.item-masonry {
    padding-bottom: 15px;
}

// ••••••••••••••••••••••••••••••••//
// 
//           about us page
// 
// ••••••••••••••••••••••••••••••••//

.about-wrapper {
    padding-top: 20px;
}

.facilities-section {
    padding-bottom: 40px;
    .facilities-section-title {
        padding-bottom: 20px;
    }
    .facilities-icon {
        display: inline-block;

        width: 100px;
        max-width: 100px;
        height: 100px;
        // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: 3px;

        border-radius: 100px;
        background-color: #ededed !important;
        background-size: 65% !important;
        &.workshop {
            background: url('../images/workshop.png') center no-repeat;
        }
        &.crane {
            background: url('../images/crane.png') center no-repeat;
        }
        &.machine {
            background: url('../images/machine.png') center no-repeat;
        }
        &.worker {
            background: url('../images/workers.png') center no-repeat;
        }
    }
    .facilities-name {
        @include bp(max-sm) {
            padding-bottom: 30px;
        }
    }
}

.scope-of-works {
    padding: 30px 0;

    background: #db0011; /* Old browsers */
    background:    -moz-linear-gradient(left, #db0011 0%, #6d0019 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #db0011 0%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
    background:         linear-gradient(to right, #db0011 0%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db0011', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */
    .scope-title {
        font-size: 1.9em;
        font-weight: 300;

        text-transform: uppercase;

        color: #fff;

        @include createSecondaryFont;
    }
}

.scope-slider {
    @include createSecondaryFont;
    .scope {
        position: relative;

        outline: none;
        .bg-color {
            position: absolute;

            width: 510px;
            height: 383px;

            background-color: rgba(0, 0, 0, .5);
            // border: 1px solid #fff;
        }
        .title {
            font-size: 1.5em;

            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
            text-align: center;
            text-transform: uppercase;

            color: #fff;
        }
    }
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    border-color: #800300;
    background-color: #800300;
}

// ••••••••••••••••••••••••••••••••//
// 
//   Project Cards Material Design
// 
// ••••••••••••••••••••••••••••••••//

.wrapper.post {
    transition: all .5s ease;
    &:hover {
        box-shadow: 5px 5px 15px -3px rgba(0,0,0,.3);
    }
}

.border-tlr-radius {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.text-center {
    text-align: center;
}

.radius {
    border-radius: 2px;
}

.padding-tb {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
}

.shadowDepth0 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
}

.shadowDepth1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

/**
 * Card Styles
 */

.card {
    margin-bottom: 1.6rem;

    background-color: #fff;
}

.card__padding {
    padding: 1.6rem;
}

.card__image {
    min-height: 100px;

    background-color: #eee;
    img {
        display: block;

        width: 100%;
        max-width: 100%;
    }
}

.card__content {
    position: relative;
    h3 {
        font-size: 1.3em;
        font-weight: 700;

        text-transform: uppercase;
        a {
            color: #800303;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

/* card meta */

.card__meta {
    a {
        color: #c0392b;
        &:hover {
            text-decoration: none;
        }
    }
}

.card__meta time {
    font-size: 1.5rem;

    margin-left: .8rem;

    color: #bbb;
}

/* card article */

.card__article {
    position: relative;
    h3 {
        a {
            &:hover {
                color: #c0392b;
            }
        }
    }
    .btn-default {
        position: absolute;
        right: 0;

        margin-bottom: 10px;

        color: #fff;
        border-color: #800300;
        outline: none;
        background-color: #800300;
        &:hover {
            color: #fff;
            outline: none;
            background-color: #c0392b;
        }
    }
}

.card__article a {
    transition: all .5s ease;
    text-decoration: none;

    color: #444;
    &:hover {
        color: #2980b9;
    }
}

/* card action */

.card__action {
    overflow: hidden;

    padding-right: 1.6rem;
    padding-bottom: 1.6rem;
    padding-left: 1.6rem;
}

.card__author img,
.card__author-content {
    display: inline-block;

    vertical-align: middle;
}

.card__author img {
    margin-right: .6em;

    border-radius: 50%;
}

.card__share {
    position: relative;

    float: right;

    margin-top: -42px;
    a {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

.card__social {
    position: absolute;
    top: 0;
    right: 0;

    visibility: hidden;

    width: 160px;

    transition: transform .35s ease;
    transform: translateZ(0);
    transform: translateX(0px);
}

.card__social--active {
    visibility: visible;

    transition: transform .35s ease;
    /*z-index: 3;*/
    transform: translateZ(0);
    transform: translateX(-48px);
}

.share-toggle {
    z-index: 2;
    &:before {
        font-family: 'FontAwesome';

        content: '\f1e0';

        color: #3498db;
    }
    &.share-expanded:before {
        content: '\f00d';
    }
}

.share-icon {
    line-height: 48px;

    display: inline-block;

    width: 48px;
    height: 48px;

    transition: all .3s ease;
    text-align: center;

    border-radius: 50%;
    outline: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
    &:hover,
    &:focus {
        -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
             -o-transform: scale(1.2);
                transform: scale(1.2);

        box-shadow: 0 3px 6px rgba(0, 0, 0, .12), 0 3px 6px rgba(0, 0, 0, .24);
    }
}

.facebook {
    background-color: #3b5998;
}

.twitter {
    background-color: #00abe3;
}

.googleplus {
    background-color: #d3492c;
}

.facebook,
.twitter,
.googleplus {
    color: #fff;
}

.facebook:hover,
.twitter:hover,
.googleplus:hover {
    color: #eee;
}

// ••••••••••••••••••••••••••••••••//
// 
//           Contact Us 
// 
// ••••••••••••••••••••••••••••••••//

#maps-section{
  $main-text: #2d313f; // main text
  $link: #d36868; // anchor tags
  $background: #e7eaf0; // body background color

  $color-1: #2d313f; // blue
  $color-2: #d36868; // red
  $color-3: #ffffff; // white



// rem fallback - credits: http://zerosixthree.se/

  @function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
  }

  @mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
  }

  // layout - breakpoints
    
  $S:     320px;   
  $M:     768px;     
  $L:     1170px;         

  // layout - media queries

  @mixin MQ($canvas) {
    @if $canvas == S {
     @media only screen and (min-width: $S) { @content; } 
    }
    @else if $canvas == M {
     @media only screen and (min-width: $M) { @content; } 
    }
    @else if $canvas == L {
     @media only screen and (min-width: $L) { @content; } 
    }
  }

  #google-container {
      position: relative;
      width: 100%;
      height: 200px;
      background-color: $background;

      @include MQ(M) {
        height: 300px;
      }

      @include MQ(L) {
        height: 600px;
      }
  }

  #cd-google-map {
    position: relative;

    address {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      padding: 1em 1em;
      background-color: rgba($color-2, .9);
      color: $color-3;
      @include font-size(13px);

      @include MQ(M) {
        @include font-size(15px);
        text-align: center;
      }
    }
  }

  #cd-zoom-in, #cd-zoom-out {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 10px;
    background-color: rgba($color-2, .9);
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg');

    .no-touch &:hover {
      background-color: rgba($color-2, 1);
    }

    @include MQ(M) {
      margin-left: 50px;
    }
  }

  #cd-zoom-in {
    background-position: 50% 0;
    margin-top: 10px;
    margin-bottom: 1px;

    @include MQ(M) {
      margin-top: 50px;
    }
  }

  #cd-zoom-out {
    background-position: 50% -32px;
  }

  #overlay {
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 1000;
  }

  #active {
    background-color: #333;
    display: block;
    margin-bottom: -5px;
    height: 5px;
    width: 25.08%;
    position: relative;
    z-index: 999;
  }

  .nav {
    display: table;
    height: 15%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    
    li {
      border-left: 1px solid #E5E5E5;
      color: #787878;
      cursor: pointer;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 25%;
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear;
    }
    
    li:first-child {
      border-left: none;
    }
  }
}

form{
  .form-group{
    .form-control{
      border-radius: 0;
      min-height: 44px;
      border: none;
      outline: none;
      box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.1);
      &:focus{
        outline: none;
        box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.3);
      }
    }
    select{
      option{
        min-height: 44px;
        border-radius: 0;
      }
    }
  }
}

.btn-primary{
  background: #c0392b;
}

// ••••••••••••••••••••••••••••••••//
// 
//       Post Article Section
// 
// ••••••••••••••••••••••••••••••••//

.article-wrapper{
  h5{
    a{
      color: #a0294c;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .border-right{
    border-right: 1px solid #ededed;
  }
  .image-wrap{
    padding-bottom: 10px;
    img{
      display: inline-block;
    }
  }

  .post-project-detail{
    padding: 15px 0;
    .icons{
      img{
        padding-bottom: 10px;
      }
    }
    .detail-text{
      font-weight: 500;
    }
  }

  .article-content{
    padding: 10px;
    padding-top: 40px;
    p{
      font-size: 20px !important;
      line-height: 1.5;
      @include bp(max-sm){
        font-size: 18px !important;
      }
      @include bp(max-xsm){
        font-size: 16px !important;
      }
    }
    p span{
      font-size: 20px !important;
      line-height: 1.5;
      @include bp(max-sm){
        font-size: 18px !important;
      }
      @include bp(max-xsm){
        font-size: 16px !important;
      }
      &:first-letter{
        color: red !important;
      }
    }
    p:first-child:first-letter {
      color: #903;
      float: left;
      font-size: 75px;
      line-height: 60px;
      padding-top: 4px;
      padding-right: 8px;
      padding-left: 3px;
      font-weight: bold;
    }
  }
}

.article-sharing{
  padding: 40px 0;
  background: #dfe4e6;
  .share-title{
    @include createSecondaryFont;
    margin: 0;
    padding-bottom: 20px;
  }
}

.next-article{
  padding: 20px 0;
  padding-bottom: 40px;
  background: #e6e6e6;
  h3{
    padding-bottom: 20px;
    @include createSecondaryFont;
  }
}

.social {
  // position: absolute;
  width: 100%;
  // top: 50%;
  text-align: center;
  // transform: translateY(-50%);
  .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px dashed #ededed;
    background-clip: content-box;
    padding: 10px;
    transition: .5s;
    color: #D7D0BE;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
    span {
      display: block;
      position: absolute;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      padding: 10px;
      color: white;
      margin-left: -5px;
      transform: translateX(10px) rotate(360deg);
    }
    &.google-plus {
      background-color: tomato;
      color: white;
    }
    &.twitter {
      background-color: #00ACEE;
      color: white;
    }
    &.facebook {
      background-color: #3B5998;
      color: white;
    }
  }
}


// ••••••••••••••••••••••••••••••••//
// 
//           Gallery Section
// 
// ••••••••••••••••••••••••••••••••//

.gallery-section{
  h2{
    font-size: 1.8em !important;
    @include bp(max-sm){
      font-size: 1.5em;
    }
    .pull-right{
      font-size: 0.8em;
    }
    &:after{
      margin-top: 10px;
    }
  }
}

.gallery-images{
  padding-top: 20px;
}

.gallery-image{
  padding-bottom: 10px;
}

// ••••••••••••••••••••••••••••••••//
// 
//           Career Section
// 
// ••••••••••••••••••••••••••••••••//

.career-box{
  // background-color: #ededed;
  padding: 10px;
}

// ••••••••••••••••••••••••••••••••//
// 
//           Career Section
// 
// ••••••••••••••••••••••••••••••••//